@model List<Models.Item>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
    </head>
<body>
    <div class="">
        <div class="text-center">
            <h1 class="my-5">HEADER</h1>
        </div>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                  @foreach(var item in Model)
                    {
                      <div class="col">
                        <div class="card text-center">
                          <img src="@item.ProductImages" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(@item.Name, "Details", "Item", new {id = item.ItemId}, new {@class="btn btn-primary"})</h5>
                            <p class="card-text">@item.PriceWithoutVAT kr</p>
                            <a href="#" class="btn btn-primary">Lägg i varukorg</a>
                          </div>
                        </div>
                      </div>
                    }
    </div>
    </div>
</body>
