<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<nav class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Topp 5 mest sålda produkter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Topp 5 minst sålda produkter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Total försäljning</a>
        </li>
        <!-- Lägg till fler länkar efter behov -->
    </ul>
    <hr class="sidebar-divider"> <!-- Avskiljare -->
</nav>
