html {
    font-size: 14px;
}

body {
    background-color: #403f3f;
}

.btn {
    background-color: #0097B2;
}

    .btn:hover {
        background-color: #196480;
    }

p {
    color: white;
}

.card {
    background-color: #403f3f;
    color: white;
}

nav {
    background-color: #545454;
    color: white;
}

.nav-link {
    color: white;
}

    .nav-link:hover {
        color: #b3b3b3;
    }

input {
    background-color: #b3b3b3;
    border: none;
}

    textarea:focus, input:focus {
        outline: none;
    }

.cart-btn {
    background-color: #545454;
    border: none;
    color: white;
    font-size: 3vh;
}

.search-btn {
    background-color: #b3b3b3;
    border: none;
    color: white;
    font-size: 3vh;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
