@using Models.ViewModels
@model ShoppingCart

    <h1>Shopping Cart</h1>

    @if(Model != null && Model.Items.Count() > 0) {
        <ul>
        @foreach(var item in Model.Items)
        {
            <li>@item.Name</li>
        }
        </ul>
    }
    else {
        <p>Varukorgen är tom</p>
    }