<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="container-fluid">
    @if (User.IsInRole("Huvudadministratör"))
    {
        <div class="container-item">
            <button class="btn btn-outline-secondary" id="register-btn"><a class="nav-link text-dark" asp-controller="Items" asp-action="CreateItemForm">Skapa en ny produkt</a></button>
        </div>
    }
    <div class="container-item">
        <button class="btn btn-outline-secondary" id="register-btn"><a class="nav-link text-dark" asp-controller="Items" asp-action="AllItems">Se alla produkter</a></button>
    </div>
</div>
