@using Models
@model HomeViewModel


<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<h3 id="welcome-name">Välkommen, @Model.UserFirstName!</h3>

<h4>Sammanfattning av dagens försäljning:</h4>
<h5>Antalet köp hittills idag:</h5>
<h5>Dagens mest sålda produkter hittills:</h5>
<h5>Dagens totala nettoinkomster tittills:</h5>
