<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="container-fluid">
          <div class="container-item">
            <button class="btn btn-outline-secondary" id="create-btn"><a class="nav-link text-dark" asp-controller="Categories" asp-action="CreateCategory">Skapa en ny kategori</a></button>
        </div>  
    <div class="container-item">
        <button class="btn btn-outline-secondary" id="allCategories-btn"><a class="nav-link text-dark" asp-controller="Categories" asp-action="AllCategories">Se alla kategorier</a></button>
    </div>
    <div class="container-item">
        <button class="btn btn-outline-secondary" id="createSub-btn"><a class="nav-link text-dark" asp-controller="Categories" asp-action="CreateSubcategory">Skapa ny underkategori</a></button>
    </div>
</div>