@using Models
@model SubcategoryViewModel

<div>
    <h3>Visar sökresultat för "@ViewBag.SearchString":</h3>
    <div class="table-hover">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Underkategori</th>
                    @if (User.IsInRole("Huvudadministratör"))
                    {
                        <th>Hantera</th>
                    }

                </tr>
            </thead>
            <tbody>

                @foreach (var subcategory in Model.Subcategories.OrderBy(c => c.Name))
                {
                    <tr>
                        <td>@subcategory.Name</td>

                        @if (User.IsInRole("Huvudadministratör"))
                        {
                            <td>
                                <button class="btn btn-primary manage-btn"><a asp-controller="" asp-action="" asp-route-id="@subcategory.CategoryId">Redigera</a></button>
                                <button class="btn btn-danger manage-btn"><a asp-controller="" asp-action="" asp-route-id="@subcategory.CategoryId" onclick="return confirm('Är du säker på att du vill ta bort denna kategori? Det går inte att ångra.')">Ta bort kategori</a></button>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>