
#all-sizes-table {
    width: 40%;
    text-align: center;
    margin-top: 2em;
}

.table-responsive {
    display: flex;
    justify-content: center;
}

.table {
    margin: 0 auto;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#welcome-name {
    margin-top: 1em;
    text-align: center;
}

.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #000;
}

#logo {
    width: 5%;
    margin-left: 1em;
}

.general-page-heading {
    text-align: center;
}

.manage-btn {
    margin-left: 1em;
}

.manage-btn a {
    color: #fff;
    text-decoration: none;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

#roles-list, #category-list {
    display: block;
}

.form-control, form-check, dropdown {
    display: block;
}

.btn- {
    text-align: center;
    margin-top: 1em;
}

.images-all-items {
    width: 25%;
}

.images-modify-items {
    width: 7%;
}

.remove-image-links {
    display: block;
}

.nav-item span {
    color: black;
}

#home-main {
    text-align: center;
    margin: 2em 15em;
    background-color: #ECECEC;
    padding: 5em;
}

.page-heading {
    margin-bottom: 1em;
    text-align: center;
}

.search-btn {
    margin-top: 0.5em;
    margin-bottom: 3em;
}

.delete-btn {
    margin-top: 0.5em;
}

.btn-sm {
    display: inline-block;
}

.item-info-img {
    width: 15em;
    height: 15em;
}

