html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#welcome-name {
    text-align: center;
}

.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #000;
}

#logo {
    width: 5%;
    margin-left: 1em;
}

#logout-btn {
    float: right;
}
